@model IEnumerable<Szakdolgozat.Models.TourismModel>

@{

}
<h1 style="text-align:center">Statisztikai elemzés a turizmus alakulásáról</h1>
<br />
<br />

<script>
    window.onload = function () {
        var chart = new CanvasJS.Chart("chart1", {
	        animationEnabled: true,
            theme: "light2",
            title: {
		        text: ""
	        },
            axisX: {
            title: "Időszak",
            titleFontFamily: "comic sans ms",
	        },
	        axisY: {
		    title: "Elköltött pénzösszeg",
		    suffix: " HUF"
	        },
            data: [{
                color: "red",
                type: "spline",
                name: "Külföldi vendégek",
                showInLegend: true,
                yValueFormatString: "#,###Ft",
                dataPoints: @Html.Raw(ViewBag.TourismForeignSpendModels)
            },
            {
                color: "blue",
                type: "spline",
                name: "Belföldi vendégek",
                showInLegend: true,
                yValueFormatString: "#,###Ft",
                dataPoints: @Html.Raw(ViewBag.TourismHungarianSpendModels)
	        }]
        });
        chart.render();

        var chart = new CanvasJS.Chart("chart2", {
            animationEnabled: true,
            theme: "light2",
	        title: {
		        text: ""
	        },
            axisX: {
                title: "Időszak",
                titleFontFamily: "comic sans ms",
		        /*interval: 10*/
	        },
	        axisY: {
		        title: "Vendégéjszakák száma",
		        suffix: " Fő"
	        },
            data: [{
                /*color: "green",*/
                type: "column",
                name: "Külföldi vendégek",
                showInLegend: true,
                yValueFormatString: "#,### Fő",
                dataPoints: @Html.Raw(ViewBag.TourismForeignModels)
            },
            {
                /*color: "green",*/
                type: "column",
                name: "Belföldi vendégek",
                showInLegend: true,
		        yValueFormatString: "#,### Fő",
                dataPoints: @Html.Raw(ViewBag.TourismHungarianModels)
	        }]
        });
        chart.render();
        }
</script>
<a asp-action="Index">Adatok megtekintése</a>
<body>
    <div class="card bg-light mb-3" style="max-width: 80%">
        <div class="card-header">
            <h4 class="card-heading" style="text-align:center">Turisták pénzköltési szokásainak változása</h4>
        </div>
        <div class="card-body">
            <div id="chart1" style="height: 370px; width: 100%;"></div>
            <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
        </div>
    </div>

</body>


<table>
    <tr>
        <td>
            @*<div class="row">*@

                <div class="h-100 card" @*style="max-width:30%"*@>
                    <div class="card-header">
                        <h4 class="card-heading" style="text-align:center">A turisták pénzköltési szokásai</h4>
                    </div>
                    <div class="card-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>
                                        Külföldi vendégek pénzköltése
                                    </th>
                                    <th>
                                        Belföldi vendégek pénzköltése
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        Átlag:
                                    </td>
                                    <td>
                                        @((ViewBag.avg).ToString("C2"))
                                    </td>
                                    <td>
                                        @((ViewBag.avgHu).ToString("C2"))
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Medián:
                                    </td>
                                    <td>
                                        @((ViewBag.median).ToString("C2"))
                                    </td>
                                    <td>
                                        @((ViewBag.medianHu).ToString("C2"))
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Módusz:
                                    </td>
                                    <td>
                                        @((ViewBag.modus).ToString("C2"))
                                    </td>
                                    <td>
                                        @((ViewBag.modusHu).ToString("C2"))
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Maximum:
                                    </td>
                                    <td>
                                        @((ViewBag.max).ToString("C2"))
                                    </td>
                                    <td>
                                        @((ViewBag.maxHu).ToString("C2"))
                                    </td>

                                </tr>
                                <tr>
                                    <td>
                                        Minimum:
                                    </td>
                                    <td>
                                        @((ViewBag.min).ToString("C2"))
                                    </td>
                                    <td>
                                        @((ViewBag.minHu).ToString("C2"))
                                    </td>

                                </tr>
                                <tr>
                                    <td>
                                        Szórás:
                                    </td>
                                    <td>
                                        @((ViewBag.dev).ToString("C2"))
                                    </td>
                                    <td>
                                        @((ViewBag.devHu).ToString("C2"))
                                    </td>

                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            @*</div>*@
        </td>
        <td>
            <div class="h-100 card" >
                <div class="card-header">
                    <h4 class="card-heading" style="text-align:center">A vendéglátóhelyek forgalma</h4>
                </div>
                <div class="card-body">
                    <div class="d-flex card-body">
                        <div class="w-100 align-items-center row">
                            <div id="chart2" style="height: 320px; width: 120%;"></div>
                        </div>
                    </div>
                </div>
            </div>
            @*</div>*@
        </td>
    </tr>
</table>

