@model IEnumerable<Szakdolgozat.Models.EmployeeModel>

@{
    ViewData["Title"] = "";
}

<h1>A 15–74 éves foglalkoztatottak száma</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<p>
    <a style="float:left" asp-action="Statistics">Statisztika</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberofEmployee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaleEmployee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FemaleEmployee)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberofEmployee)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaleEmployee)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FemaleEmployee)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Date">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Date">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Date">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
