@model IEnumerable<Szakdolgozat.Models.EmployeeModel>

@{

}


<h1 style="text-align:center">Statisztikai elemzés a 15-74 éves foglalkoztatottak számáról</h1>
<br />

<script>
    window.onload = function () {
        var chart = new CanvasJS.Chart("chart1", {
            animationEnabled: true,
            theme: "light2",
            title: {
                text: ""
            },
            axisX: {
                title: "Időszak",
                titleFontFamily: "comic sans ms",
                /*interval: 10*/
            },
            axisY: {
                title: "Foglalkoztatottak száma",
                suffix: " Fő"
            },
            data: [{
                color: "blue",
                type: "spline",
                yValueFormatString: "#,###Fő",
                dataPoints: @Html.Raw(ViewBag.EmployeeModels)
	        }]
        });
        chart.render();


        var chart = new CanvasJS.Chart("chart2", {
            animationEnabled: true,
            title: {
                text: "A foglalkoztatottak nemek szerinti eloszlása"
            },
            data: [{
                type: "doughnut",
                startAngle: 60,
                indexLabelFontSize: 16,
                indexLabel: "{label} - {y} Fő",
                toolTipContent: "<b>{label}:</b> {y} Fő",
                dataPoints: @Html.Raw(ViewBag.EmployeeGenderModels)
	        }]
        });
        chart.render();
    }


</script>


<body>
    <div class="card bg-light mb-3" style="max-width: 80%">
        <div class="card-body">
            <div id="chart1" style="height: 370px; width: 100%;"></div>
            <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
        </div>
    </div>

</body>

<br />
<br />
<div class="row">

    <div class="col-lg-5 col-sm-5" style="max-width:30%">
        <div class="card-header">
            <h4 class="card-heading" style="text-align:center">Foglalkoztatottak száma</h4>
        </div>
        <div class="card-body">
            <table class="table">
                <tbody>
                    <tr>
                        <td>
                            Átlag:
                        </td>
                        <td>
                            @ViewBag.avg
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Medián:
                        </td>
                        <td>
                            @ViewBag.median
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Módusz:
                        </td>
                        <td>
                            @ViewBag.modus
                        </td>

                    </tr>
                    <tr>
                        <td>
                            Maximum:
                        </td>
                        <td>
                            @ViewBag.max
                        </td>

                    </tr>
                    <tr>
                        <td>
                            Minimum:
                        </td>
                        <td>
                            @ViewBag.min
                        </td>

                    </tr>
                    <tr>
                        <td>
                            Szórás:
                        </td>
                        <td>
                            @ViewBag.dev
                        </td>

                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-lg-5 col-sm-5 mt-sm-0 mt-4">
        <div class="card mb-4">
            <div class="card-body">
                <div class="d-flex card-body">
                    <div class="w-100 align-items-center row">
                        <div id="chart2" style="height: 370px; width: 100%;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


