@model IEnumerable<Szakdolgozat.Models.EmployeeModel>

@{

}


<h1 style="text-align:center">Statisztikai elemzés a 15-74 éves foglalkoztatottak számáról</h1>
<br />


<!DOCTYPE HTML>
<html>
<head>
    <script>
        window.onload = function () {
var chart = new CanvasJS.Chart("chartContainer", {
    animationEnabled: true,
    theme: "light2",
	title: {
		text: ""
	},
    axisX: {
        title: "Időszak",
        titleFontFamily: "comic sans ms",
		/*interval: 10*/
	},
	axisY: {
		title: "Foglalkoztatottak száma",
		suffix: " Fő"
	},
    data: [{
        /*color: "green",*/
		type: "column",
		yValueFormatString: "#,###Fő",
        dataPoints: @Html.Raw(ViewBag.EmployeeModels)
	}]
});
chart.render();
}
    </script>
</head>
@*<head>*@
@*</head>*@
<body>
    <div class="card bg-light mb-3" style="max-width: 80%">
        <div class="card-body">
            <div id="chartContainer" style="height: 370px; width: 100%;"></div>
            <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
        </div>
    </div>

</body>
</html>
<br />
<br />
<div class="row">

    <div class="h-100 card" style="max-width:30%">
        <div class="card-header">
            <h4 class="card-heading" style="text-align:center">Foglalkoztatottak száma</h4>
        </div>
        <div class="card-body">
            <table class="table">
                <tbody>
                    <tr>
                        <td>
                            Átlag:
                        </td>
                        <td>
                            @ViewBag.avg
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Medián:
                        </td>
                        <td>
                            @ViewBag.median
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Módusz:
                        </td>
                        <td>
                            @ViewBag.modus
                        </td>

                    </tr>
                    <tr>
                        <td>
                            Maximum:
                        </td>
                        <td>
                            @ViewBag.max
                        </td>

                    </tr>
                    <tr>
                        <td>
                            Minimum:
                        </td>
                        <td>
                            @ViewBag.min
                        </td>

                    </tr>
                    <tr>
                        <td>
                            Szórás:
                        </td>
                        <td>
                            @ViewBag.dev
                        </td>

                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="mb-4 mb-lg-0 col-lg-5">
    <div class="h-50 pb-4 pb-lg-2">
        <div class="h-100 card">
            <div class="d-flex card-body">
                <div class="w-100 align-items-center row">
                    <script>
                                window.onload = function () {

                                    var chart = new CanvasJS.Chart("chartContainer", {
	                                    animationEnabled: true,
	                                    title: {
		                                    text: "Percentage Market Share of Treatments in Alternative Medicine"
	                                    },
	                                    data: [{
		                                    type: "doughnut",
		                                    startAngle: 60,
		                                    indexLabelFontSize: 16,
		                                    indexLabel: "{label} - {y}%",
		                                    toolTipContent: "<b>{label}:</b> {y}%",
		                                    dataPoints: @Html.Raw(ViewBag.EmployeeGenderModels)
	                                    }]
                                    });
                                    chart.render();

                                }
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>



<!--<div class="row">

    <div class="h-100 card" style="max-width:30%">
        <div class="card-header">
            <h4 class="card-heading" style="text-align:center">Foglalkoztatottak száma</h4>
        </div>
        <div class="card-body">-->
@*<head>*@

@*</head>*@
<!--</div>
    </div>
</div>-->
