@model IEnumerable<Szakdolgozat.Models.GDPModel>

@{
    ViewData["Title"] = "A bruttó hazai termék (GDP) termelése folyó áron negyedévente (millió forint)";
}

<h1>A bruttó hazai termék (GDP) termelése folyó áron negyedévente (millió forint)</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<p>
    <a style="float:left" asp-action="Statistics">Statisztika</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GDP)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GDP)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Date">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Date">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Date">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
