@model IEnumerable<Szakdolgozat.Models.CateringModel>

@{

}


<h1 style="text-align:center">Statisztikai elemzés a vállalkozások forgalmáról</h1>
<br />

<p>
    <a style="float:left" asp-action="Index">Adatok megtekintése</a>
</p>

<!DOCTYPE HTML>
<html>
<head>
    <script>
        window.onload = function () {
            var chart = new CanvasJS.Chart("chartContainer", {
	            animationEnabled: true,
	            title: {
		            text: ""
	            },
                axisX: {
                    title: "Időszak",
                    titleFontFamily: "comic sans ms",
		            /*interval: 10*/
	            },
	            axisY: {
		            title: "Eladási forgalom",
		            suffix: " HUF"
	            },
                data: [{
                    color: "green",
		            type: "spline",
		            yValueFormatString: "#,###Ft",
                    dataPoints: @Html.Raw(ViewBag.CateringModels)
	            }]
            });
            chart.render();
        }
    </script>
</head>
<body>
    <div class="card bg-light mb-3" style="max-width: 80%;">
        <div class="card-body">
            <div id="chartContainer" style="height: 370px; width: 100%; "></div>
            <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
        </div>
    </div>

</body>
</html>
<br />
<br />
<div class="row">

    <div class="h-100 card" style="max-width:30%">
        <div class="card-header">
            <h4 class="card-heading" style="text-align:center">A vendéglátóhelyek forgalma</h4>
        </div>
        <div class="card-body">
            <table class="table">
                <tbody>
                    <tr>
                        <td>
                            Átlag:
                        </td>
                        <td>
                            @ViewBag.avg
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Medián:
                        </td>
                        <td>
                            @ViewBag.median
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Módusz:
                        </td>
                        <td>
                            @ViewBag.modus
                        </td>

                    </tr>
                    <tr>
                        <td>
                            Maximum:
                        </td>
                        <td>
                            @ViewBag.max
                        </td>

                    </tr>
                    <tr>
                        <td>
                            Minimum:
                        </td>
                        <td>
                            @ViewBag.min
                        </td>

                    </tr>
                    <tr>
                        <td>
                            Szórás:
                        </td>
                        <td>
                            @ViewBag.dev
                        </td>

                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

